.Brand {
  margin-left: 5%;
  color: white;
}

.label_first {
  margin-left: auto;
  margin-right: 1%;
}

.label {
  padding: 0;
}
.links {
  width: 100%;
}

.Container {
  width: 100%;
  padding: 0;
}

.useritem,
.search {
  font-size: large;
  border-style: ridge;
  margin: 0.2rem;
  padding: 0.5rem;
}
