.Container {
  background-color: #c75b12;
}

.Brand {
  margin-left: 20%;
  color: white;
}

.Navbar {
  background-color: #c75b12;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.links {
  margin-left: auto;
  margin-right: 20%;
}

p {
  color: white;
}

.btnGreen {
  background-color: #69be28;
}
