.Container {
    background-color: #28527A; 
   }
   
   .Brand {
     margin-left: 20%;
     color: white;
   }
   
   .Navbar {
     background-color: #28527A;
   } 
   .links {
     margin-left:auto;
     margin-right:30%;
   }
   
   p {
     color: white;
   }
   