.Container {
  background-color: #28527a;
}

.Brand {
  margin-left: 20%;
  color: white;
}

.Navbar {
  background-color: #28527a;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.links {
  margin-left: auto;
  margin-right: 20%;
}

p {
  color: white;
}
