@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.Container {
  background-color: #c75b12;
}

.Brand {
  margin-left: 20%;
  color: white;
}

.Navbar {
  background-color: #c75b12;
}
.links {
  margin-left: auto;
  margin-right: 35%;
}
.item {
  margin-left: 15%;
}
p {
  font-family: "Roboto";
  color: white;
}

.btnGreen {
  background-color: #69be28;
  color: white;
}
